.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
}

.primary {
  background: #610c9f;
  color: white;
}

.secondary {
  background: #ddd;
  color: #333;
}
